<%- include('includes/head') %>
  <link rel="stylesheet" href="css/500.css">
</head>  

<body>
<%- include('includes/navigation') %>
<main>
    <div class="container">
        <div class="notify-wrap">
            <h1>Unautharized access</h1>
            <p>Oops! You are not authorized to access this page.</p>
            <p>In the meantime, you can try refreshing the page or come back later.</p>
            <p class="error-message"><%= errorMessage %></p>
            <br>
            <a href="/">Go to Home</a>
        </div>
    </div>
</main>

<%- include('includes/end') %>