<%- include('includes/head') %>
  <link rel="stylesheet" href="css/404.css">
</head>  

<body>
<%- include('includes/navigation') %>
<main>
    <div class="container">
        <div class="notify-wrap">
            <h1>oops! page didn't found.</h1>
        </div>
    </div>
</main>

<%- include('includes/end') %>