extends Layout/main-layout

block styles
  link(rel='stylesheet', href='/css/add_product.css')

block content
  main
    .container
      form(action='/admin/add-product', method='POST')
        .input-group
          label(for='title') Enter product title
          input(type='text', name='title')
        button(type='submit') Add Product