extends layout/main-layout

block styles
  link(rel='stylesheet', href='/css/shop.css')

block content
  main
    .container
      h1 My Products
      ul.product-list 
        each product in products
          li.product-item
            .product-image-wrap 
              img(src='https://via.placeholder.com/300x200', alt='product image')
            h2.product-item__title #{product.title}
            p.product-item__price $178.99
            p.product-item__description lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation
