<%- include('includes/head') %>
  <link rel="stylesheet" href="/css/shop.css">
</head>

<body>
  <%- include('includes/navigation') %>
  <main>
      <div class="container">
          <h1>My Products</h1>
          <% if (products.length === 0) { %>
              <div class="notify-wrap">
                  <h2>No products found.</h2>
              </div>
          <% } else { %>
          <ul class="product-list">
              <% for (let product of products) { %>
                  <li class="product-item">
                      <div class="product-image-wrap">
                          <img src="https://via.placeholder.com/300x200" alt="product image">
                      </div>
                      <h2 class="product-item__title"><%= product.title %></h2>
                      <p class="product-item__price">$178.99</p>
                      <p class="product-item__description">lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation</p>
                  </li>
              <% } %>
          </ul>
          <% } %>
      </div>
  </main>
<%- include('includes/end') %>